.serach-icon-react-table {
    width: 34px;
        position: absolute !important;
        top: 4px;
        right: 4px;
        &.MuiIconButton-root{
            background-color:#D9D9D9;
        }
}